<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RESTINA - Food & Restaurant HTML Template With RTL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link
      rel="icon"
      type="image/png"
      href="assets/images/favicon.png"
    >
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/venobox.min.css">
    <link rel="stylesheet" href="assets/css/ranger_slider.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/scroll_button.css">
    <link rel="stylesheet" href="assets/css/custom_spacing.css">
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/colorfulTab.min.css">
    <link rel="stylesheet" href="assets/css/jquery.animatedheadline.css">
    <link rel="stylesheet" href="assets/css/animated_barfiller.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    {% render 'gp-head' %}
  </head>
  <body>
    <div class="main-body">
      {% comment %} slideshow start {% endcomment %}
      {% section 'header' %}
      {% comment %} slideshow end {% endcomment %}

      <main class="main">
        {{ content_for_layout }}
      </main>

      {% comment %} footer-start {% endcomment %}
      {% section 'footer' %}
      {% comment %} footer-end {% endcomment %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>

    <!-- jquery library js -->
    <script src="assets/js/jquery-3.7.1.min.js" defer></script>
    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.bundle.min.js" defer></script>
    <!-- font-awesome js -->
    <script src="assets/js/Font-Awesome.js" defer></script>
    <!-- nice select js -->
    <script src="assets/js/jquery.nice-select.min.js" defer></script>
    <!-- marquee js -->
    <script src="assets/js/jquery.marquee.min.js" defer></script>
    <!-- slick js -->
    <script src="assets/js/slick.min.js" defer></script>
    <!-- countup js -->
    <script src="assets/js/jquery.waypoints.min.js" defer></script>
    <script src="assets/js/jquery.countup.min.js" defer></script>
    <!-- venobox js -->
    <script src="assets/js/venobox.min.js" defer></script>
    <!-- scroll button js -->
    <script src="assets/js/scroll_button.js" defer></script>
    <!-- price ranger js -->
    <script src="assets/js/ranger_jquery-ui.min.js" defer></script>
    <script src="assets/js/ranger_slider.js" defer></script>
    <!-- select 2 js -->
    <script src="assets/js/select2.min.js" defer></script>
    <!-- aos js -->
    <script src="assets/js/wow.min.js" defer></script>
    <!-- colorfulTab js -->
    <script src="assets/js/colorfulTab.min.js" defer></script>
    <!-- sticky sidebar js -->
    <script src="assets/js/sticky_sidebar.js" defer></script>
    <!-- animated barfiller js -->
    <script src="assets/js/animated_barfiller.js" defer></script>
    <!-- animatedheadline js -->
    <script src="assets/js/jquery.animatedheadline.min.js" defer></script>
    <!-- script/custom js -->
    <script src="assets/js/script.js" defer></script>
  </body>
</html>
