<!DOCTYPE html>
<html>
  <head>
    {% comment %} {%  render 'pagefly-head' %} {% endcomment %}
    {{content_for_header}}
  </head>
  <body>
    <main id="main" role="main">
      {{content_for_layout}}
    </main>
  </body>
</html>
