<!DOCTYPE html>
<html>
  <head>
    <title>My Website Title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="announcement-bar">
      {% comment %} <p>Important announcement goes here!</p> {% endcomment %}
    </div>
    <main id="main" role="main">
      {% comment %} <p>This is the main content of the page.</p> {% endcomment %}
    </main>
  </body>
</html>
