{% if section.settings.['show_announcment'] %}


<section>Announcment Bar</section>
{%endif%}

{% schema %}
   {
     "name": "Announcment Bar",
     "settings": [
      {
     "type": "checkbox",
     "id": "show-announcment",
     "label": "Show announcement",
     "default": true
   }
     ],
     "presets": []
   }
 {% endschema %}
