<!--
  ==========================
      CATEGORY START
  ===========================
-->
<section class="category pt_130 xs_pt_90">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 wow fadeInUp">
        <div class="section_heading heading_left mb_50">
          <h2>Our Popular category</h2>
        </div>
      </div>
    </div>
    <div class="row category_slider">
      {% for block in section.blocks %}
        <div class="col-xl-3 wow fadeInUp">
          <a href="menu_03.html" class="category_item">
            <img
              src="{{ block.settings.categories_img | img_url: 'large' }}"
              alt="banner"
              width="auto"
              height="auto"
            >
            <h3>{{ block.settings.title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--
  ==========================
      CATEGORY END
  ===========================
-->

<!--
  ==========================
      ADD BANNER START
  ===========================
-->
<section class="add_banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7 wow fadeInUp">
        <div class="add_banner_large" style="background: url(assets/images/large_banner_img_1.jpg);">
          <div class="text">
            <h3>The best Burger place in town</h3>
            <a href="menu_details.html"> order now <i class="fas fa-chevron-circle-right"></i> </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 wow fadeInUp">
        <div class="add_banner_small" style="background: url(assets/images/small_banner_img_1.jpg);">
          <div class="text">
            <h3>Great Value Mixed Drinks</h3>
            <a href="menu_details.html"> order now <i class="fas fa-chevron-circle-right"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
  ==========================
      ADD BANNER END
  ===========================
-->

{% schema %}
{
  "name": "Categories",
  "settings": [ ],
  "blocks": [
    {
      "type":"slider",
      "name": "Slide",
      "settings":[
        {
          "type": "image_picker",
          "id": "categories_img",
          "label": "Categories_img"
        },
         {
          "type": "text",
          "id": "title",
          "label": "Title",
           "default": "Title"
        }
      ]

    }
  ],
  "presets":[
    {
      "name": "Categories",
      "category":"Categories"
    }
  ]

}
{% endschema %}
