<!--
  ==========================
      CATEGORY START
  ===========================
-->
<section class="category pt_130 xs_pt_90">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 wow fadeInUp">
        <div class="section_heading heading_left mb_50">
          <h2>Our Popular category</h2>
        </div>
      </div>
    </div>
    <div class="row category_slider">
      {% for block in section.blocks %}
        <div class="col-xl-3 wow fadeInUp">
          <a href="menu_03.html" class="category_item">
            <img src="{{ block.settings.categories_img }}" class="img-fluid w-100" alt="categories_img">
            <h3>Pizza</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--
  ==========================
      CATEGORY END
  ===========================
-->

{% schema %}
{
  "name": "Categories",
  "settings": [ ],
  "blocks": [
    {
      "type":"slider",
      "name": "Slide",
      "settings":[
        {
          "type": "image_picker",
          "id": "categories_img",
          "label": "Categories_img"
        }
      ]

    }
  ],
  "presets":[
    {
      "name": "Categories",
      "category":"Categories"
    }
  ]

}
{% endschema %}
