<section class="featur-section section-1">
  <div class="container">
    <div class="row">
      {% for feature in section.settings.features %}
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="feature-box">
            <div class="feature-img">
              <img
                src="{{ feature.image | img_url: 'large' }}"
                alt="{{ feature.image }} "
                width="auto"
                height="auto">
            </div>
            <div class="feature-content">
              <h4>{{ feature.title }}</h4>
              <p>{{ feature.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}

  {
    "name": "Feature Section",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Features"
      },
      {
        "type": "text",
        "id": "feature_1_title",
        "label": "Feature 1 Title",
        "default": "Free Shipping"
      },
      {
        "type": "textarea",
        "id": "feature_1_description",
        "label": "Feature 1 Description",
        "default": "Competitive low hanging fruit effectively leaders for our growth hackers."
      },
      {
        "type": "image_picker",
        "id": "feature_1_image",
        "label": "Feature 1 Image"
      }, {
        "type": "text",
        "id": "feature_2_title",
        "label": "Feature 2 Title",
        "default": "Secure Transactions"
      }, {
        "type": "textarea",
        "id": "feature_2_description",
        "label": "Feature 2 Description",
        "default": "Competitive low hanging fruit effectively leaders for our growth hackers."
      }, {
        "type": "image_picker",
        "id": "feature_2_image",
        "label": "Feature 2 Image"
      }, {
        "type": "text",
        "id": "feature_3_title",
        "label": "Feature 3 Title",
        "default": "Super Sale"
      }, {
        "type": "textarea",
        "id": "feature_3_description",
        "label": "Feature 3 Description",
        "default": "Competitive low hanging fruit effectively leaders for our growth hackers."
      }, {
        "type": "image_picker",
        "id": "feature_3_image",
        "label": "Feature 3 Image"
      }, {
        "type": "text",
        "id": "feature_4_title",
        "label": "Feature 4 Title",
        "default": "24/7 Support"
      }, {
        "type": "textarea",
        "id": "feature_4_description",
        "label": "Feature 4 Description",
        "default": "Competitive low hanging fruit effectively leaders for our growth hackers."
      }, {
        "type": "image_picker",
        "id": "feature_4_image",
        "label": "Feature 4 Image"
      }
    ],
    "presets": [
      {
        "category": "Custom",
        "name": "Feature Section"
      }
    ]
  }


{% endschema %}