<!-- ==========================
  POPUP SUBSCRIBE START
  =========================== -->
<section class="popup_subscribe_area">
  <div class="popup_subscribe_box">
    <div class="row">
      <div class="col-md-6">
        <div class="popup_subscribe_img">
          <img
            src="assets/images/popup_subscribe_img.jpg"
            alt="subscribe"
            width="auto"
            height="auto">
        </div>
      </div>
      <div class="col-md-6">
        <form class="popup_subscribe_form">
          <span class="close_popup">
            <i class="far fa-times"></i>
          </span>
          <h2>Subscibe for the Updates!</h2>
          <input type="text" placeholder="Enter Your Email Adress">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              I agree to the
              <a href="privacy_policy.html">Privacy Policy</a>.
            </label>
          </div>
          <button type="submit" class="common_btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  POPUP SUBSCRIBE END
  =========================== -->
{% schema %}
  {
    "name": "PoP Up",
    "settings": [],
    "presets": [
      {
        "category": "Custom",
        "name": "PuP Up"
      }
    ]
  }
{% endschema %}